<!--Footer-->
<!DOCTYPE html>
<html>
<hr>
<footer class="footer-links wrap-container" style="padding-left:10vw ;">
    <div class="wrap">
        <div class="col col-md-3">
            <h3 style="font-weight: 600;">Home</h3>
            <ul class="lists">
                <li><a href="{{site.url}}/#Course_Description">Course Description</a></li>
                <li><a href="{{site.url}}/#Instructors">Instructors</a></li>
                <li><a href="{{site.url}}/#FAQs">FAQs</a></li>
            </ul>
        </div>
        <div class="col col-md-3">
            <h3><a href="{{site.url}}/Calendar/">Calendar</a></h3>
        </div>
   
        <div class="col col-md-3">
            <h3><a href="{{site.url}}/Structure">Structure</a></h3>
            <ul class="lists" >
                <li><a href="{{site.url}}/Structure#technology">Technology</a></li>
                <li><a href="{{site.url}}/Structure#materials">Materials</a></li>
                <li><a href="{{site.url}}/Structure#collaboration">Collaboration</a></li>
                <li><a href="{{site.url}}/Structure#late">Late Policy</a></li>
                <li><a href="{{site.url}}/Structure#grading">Grading</a></li>
            </ul>
        </div>
        <div class="col col-md-3">
            <h3><a href="{{site.url}}/Resources">Resources</a></h3>
            <ul class="lists">
                <li><a href="{{site.url}}/Resources#Assignments">Assignments</a></li>
                <li><a href="{{site.url}}/Resources#Slides">Lecture Slides</a></li>
                <li><a href="{{site.url}}/Resources#online">Online Resources</a></li>
                <li><a href="{{site.url}}/Resources#misclinks">Misc Links</a></li>
            </ul>
        </div>
        
  </div>
</footer>
</html>