.cover{
    margin: 0vh 10vw ;
}
@media screen and (max-width: 1000px) { 
  .site-title{padding: 0vh;}
  .site-nav { position: absolute; top: 9px; right: 15px; background-color: #fdfdfd; border: 1px solid #e8e8e8; border-radius: 5px; text-align: right; }
  .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; }
  .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; }
  .site-nav .menu-icon > svg { fill: #424242; }
  .site-nav input ~ .trigger { clear: both; display: none; }
  .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; }
  .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; }
  .site-nav .page-link:not(:last-child) { margin-right: 0; } 
}

@media screen and (max-width: 800px) { 
  .site-title{
  margin:10px;
  padding-top:0vh;
  }
}
.site-header{
    width: 100%;
}
.trigger{
  font-size: 1.1em;
  font-weight: 500;
 
}
.trigger>a{
  padding: 0.4em;
  border-radius: 5px;
  margin-right: 1em;
  text-decoration: none;
  color: black;
}

.site-title{
  padding-top: 2vh;
  font-size: 3em;  
  font-family: 'Raleway';
}

.site-title>a{
  padding: 0em 0.1em;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.trigger>a:hover{
background-color: black;
color: white;
}
.menu-icon{
  padding: 20px;
}
header{
  width: 100vw;
}